@import "../../scss/mixins";

.mycard {
  cursor: pointer;
  flex: 1 1 calc(25% - 45px);
  box-sizing: border-box;
  padding: 16px;
  padding: 20px 30px;
  background-color: rgba(217, 217, 217, 0.25);
  @include FlexColCenter;
  border-radius: 27px;
  @include Shadow(0px, 7px, 10px);
  transition: 0.3s all ease;
}

.mycard:hover {
  transform: scale(1.025);
}

.imagePortada {
  width: 100%;
  object-fit: cover; /* Hace que la imagen se recorte sin estirarse */
  border-radius: 10px;
  margin-bottom: 10px;
}

.comicTitle {
  width: 100%;
  font-size: 16px;
  font-weight: 500;
}

.comicPages {
  font-size: 14px;
  font-weight: 300;
  width: 100%;
  margin-top: 5px;
}

.comicFav,
.editButton,
.deleteButton {
  cursor: pointer;
  align-self: flex-end;
  cursor: pointer;
  transition: transform 0.3s ease, color 0.3s ease;
  color: white;
}

.comicFav:hover,
.editButton:hover,
.deleteButton:hover {
  transform: scale(1.2);
}

.iconsBottom {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.iconsBottomLeft {
  display: flex;
  gap: 10px;
}
.editButton {
  display: flex;
}
