@import "../scss/mixins";

.contenedor{
  padding: 20px 0px;
  width: 100%;
  @include FlexColCenter
}

.header{
    @include FlexColCenter;
}

.cardsWrapper{
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 45px;
  width: 70%;
}