@import "../../../scss/_mixins.scss";

.label {
  color: white;
}

.pageContainer {
  @include FlexColCenter;
  min-height: calc(100vh - 96px);
}

.container {
  @include FlexColCenter;
  background-color: #c9c3ff12;
  padding: 40px;
  border-radius: 20px;
}
