@import "../../scss/mixins";

.container{
    @include FlexColCenter;
    margin-top: 49px;
}

.cardsWrapper{
    margin-top: 35px;
    display: flex;
    flex-wrap: wrap;
    gap: 45px;
    width: 70%;
}